img:hover{
	box-shadow: 0 0 20px rgb(0, 165, 140);
}
#main-nav #responsive-nav a:nth-child(1){
	margin-bottom: 0;
	border-bottom: 5px solid rgb(207, 255, 162);
	background: linear-gradient(to bottom,rgba(207, 255, 162,0),rgba(207, 255, 162,1) 30%);
}
#main-nav #responsive-nav a:nth-child(1):hover, #main-nav #hidden-nav a:hover{
	border-bottom: 5px solid #e9ff81;
	background: rgb(50, 104, 15);
}
section img:hover{
	box-shadow: none;
}
.flex-text{
	display: flex;
	flex-wrap: wrap;
}
.flex-text article{
	flex: 1;
}
.flex-text #f-t-1{
	margin-right: 3%;
}
.flex-text .harticle{
	font-size: 120%;
	font-weight: bold;
	text-shadow: 0 0 3px gray;
}
#swapping-img{
	height: 100%;
}
@media (max-width: 960px){
	#main-nav #responsive-nav a:nth-child(1){
		order: 3;
	}
	#main-nav #responsive-nav a:nth-child(2){
		order: 4;
	}
	#main-nav #responsive-nav a:nth-child(3){
		order: 1;
	}
	#main-nav #responsive-nav a:nth-child(4){
		order: 2;
	}
}
@media (max-width: 720px){
	#main-nav #responsive-nav a:nth-child(1){
		border-bottom: 2px solid rgb(207, 255, 162);
		background: linear-gradient(to right,rgba(207, 255, 162,1),rgba(207, 255, 162,0) 50%,rgba(207, 255, 162,1));
	}
	#main-nav #responsive-nav a:nth-child(1):hover{
		border-bottom: 2px solid rgb(207, 255, 162);
		background: rgb(50, 104, 15);
	}
	#main-nav #hidden-nav a:hover{
		border-bottom: 5px solid #e9ff81;
	}
	#main-nav #responsive-nav a:nth-child(1){
		order: 1;
	}
	#main-nav #responsive-nav a:nth-child(2){
		order: 2;
	}
	#main-nav #responsive-nav a:nth-child(3){
		order: 3;
	}
	#main-nav #responsive-nav a:nth-child(4){
		order: 4;
	}
}
