img:hover{
	box-shadow: 0 0 20px rgb(0, 165, 140);
}
#main-nav #responsive-nav a:nth-child(2){
	margin-bottom: 0;
	border-bottom: 5px solid rgb(207, 255, 162);
	background: linear-gradient(to bottom,rgba(207, 255, 162,0),rgba(207, 255, 162,1) 30%);
}
#main-nav #responsive-nav a:nth-child(2):hover, #main-nav #hidden-nav a:hover{
	border-bottom: 5px solid #e9ff81;
	background: rgb(50, 104, 15);
}
.rad-img{
	border-radius: 0px 15px;
}
.rad-img:hover{
	border-radius: initial;
}
section img:hover{
	transition: 10;
	transform: scale(1.05);
}
.text-bigpic{
	display: flex;
	flex-wrap: wrap;
}
.text-bigpic .t-bigpic-l{
	flex: 2;
}
.text-bigpic .text-bp-r{
	flex: 1;
	margin: 0% 3%;
}
.text-bigpic .note{
	font-style: italic;
	flex-basis: 100%;
}

#ansel-p{
	display: flex;
	flex-wrap: wrap;
}
#ansel-img{
	flex: 1.5;
}
#ansel-img img{
	border-radius: 0px 15px;
	box-shadow: 0 0 15px green inset;
}
#ansel-img img:hover{
	border-radius: 15px 0px;
}
#ansel-text-1{
	flex: 3;
	margin-bottom: 0;
}
#ansel-text-2, #ansel-ui{
	flex-basis: 100%;
}
@media (max-width: 960px){
	#main-nav #responsive-nav a:nth-child(1){
		order: 1;
	}
	#main-nav #responsive-nav a:nth-child(2){
		order: 3;
	}
	#main-nav #responsive-nav a:nth-child(3){
		order: 4;
	}
	#main-nav #responsive-nav a:nth-child(4){
		order: 2;
	}
}
@media (max-width: 720px){
	#main-nav #responsive-nav a:nth-child(2){
		border-bottom: 2px solid rgb(207, 255, 162);
		background: linear-gradient(to right,rgba(207, 255, 162,1),rgba(207, 255, 162,0) 50%,rgba(207, 255, 162,1));
	}
	#main-nav #responsive-nav a:nth-child(2):hover{
		border-bottom: 2px solid rgb(207, 255, 162);
		background: rgb(50, 104, 15);
	}
	#main-nav #hidden-nav a:hover{
		border-bottom: 5px solid #e9ff81;
	}
	#main-nav #responsive-nav a:nth-child(1){
		order: 1;
	}
	#main-nav #responsive-nav a:nth-child(2){
		order: 2;
	}
	#main-nav #responsive-nav a:nth-child(3){
		order: 3;
	}
	#main-nav #responsive-nav a:nth-child(4){
		order: 4;
	}
}
